@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&family=Julius+Sans+One&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");


:root{
    --transparent_background: rgba(255, 255, 255, 0.569);
}

*{
    font-family: 'Open Sans' 
} 

nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(67, 67, 67);
    padding: 2;
    width: 100%;
    height: 60px;
    position:fixed;
    top: 0;
    z-index: 100;
    text-align: center;
}

nav a{
    text-align: center;
    font-weight: 100;
    font-size: x-large;
    padding: 0.5rem;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    min-width: 72px;
    height: 40px;
}

nav a:hover{
    background-color: rgb(139, 139, 139);
}




.hero_container {
    display: flex;
    width: 100%;
    justify-content: center;

    background-image: url('/img/hero_img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_container2 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;

    background-image: url('/img/img12.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_container3 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;

    background-image: url('/img/img13.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.text-container {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: x-large;
}


.button{
    color:white;

    display: inline-block;
    padding: 1em;
    border-radius: 0.5em;
}



.green{
    color:green;
}

.skyblue{
    color: skyblue;
}

.maroon{
    color: maroon;
}

.green_background{
    background-color: green;
}
.skyblue_background{
    background-color: skyblue;
}
.maroon_background{
    background-color: maroon;
}

.grey_background{
    display:flex;
    justify-self: flex-end;

    color:gray;
    background-color: whitesmoke;
    border: solid 0.1em black;

    /* border: solid 1px black; */
}

.grey_background2{
    display:flex;
    justify-self: center;

    color:gray;
    background-color: whitesmoke;
    border: solid 0.1em black;

    /* border: solid 1px black; */
}

.grey_background3{
    display:flex;
    justify-self: flex-start;

    color:gray;
    background-color: whitesmoke;
    border: solid 0.1em black;

    /* border: solid 1px black; */
}

.send-button_background{
    display:flex;
    justify-self: center;
    background-color: rgb(36, 36, 36);
    border: solid 0.1em black;
    /* border: solid 1px black; */
}

.form_background{
    background-color:var(--transparent_background);

    display: inline-block;
    padding: 1em;
}

.form_card{
    background-color:var(--transparent_background);
    
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.message_card{
    background-color:var(--transparent_background);
    
    display: flex;
    align-self:flex-end;
    flex-wrap: wrap;
    padding: 1em;
}

.font_color{
    color:grey;
}

.font_color_white{
    color:white;
}

.title{
    text-align: center;
}

.black{
    color:black;
}

.card_create{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

    max-width: 1280px;
    margin: 0 auto;
    padding:1rem;
    background-color: ghostwhite;
}



.half{
    width:48%;
}

.third{
    width: 32%;
}

.quarter{
    width:23%
}

.whole{
    width:88%;
}

footer{
    stroke: beige;
    text-align: center;
    border-bottom: 0.1rem solid grey;
}

.italic{
    font-style: italic;
}

/* Smartphones */
@media only screen and (min-width: 360px){
    .whole{
        width:fit-content;
    }
    .half{
        width:fit-content;
    }
    .third{
        width:fit-content;
    }
    .quarter{
        width:fit-content; 
    }
  }

/* Tablets */
@media only screen and (min-width: 768px){
    .whole{
        width: fit-content;
    }
    .half{
        width: fit-content;
    }
    .third{
        width: fit-content;
    }
    .quarter{
        width: fit-content; 
    }
}

/* Desktop */
@media only screen and (max-width: 1920px){
    .half{
        width:48%;
    }
    
    .third{
        width: 32%;
    }
    
    .quarter{
        width:23%
    }
    
    .whole{
        width:88%;
    }
}



