@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&family=Julius+Sans+One&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

.hero_container {
    display: flex;
    width: 100%;
    justify-content: center;

    background-image: url('/img/hero_img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.text-container {
    font-family: 'Open Sans';
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: x-large;
    font-family: 'Open Sans' 
}


.button{
    color:white;

    display: inline-block;
    padding: 1em;
    border: solid 1px black;
    border-radius: 0.5em;
}



.green{
    color:green;
}

.skyblue{
    color: skyblue;
}

.maroon{
    color: maroon;
}

.green_background{
    background-color: green;
}
.skyblue_background{
    background-color: skyblue;
}
.maroon_background{
    background-color: maroon;
}

.card_create{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

    max-width: 1280px;
    margin: 0 auto;
    padding:1rem;
    background-color: ghostwhite;
}


.half{
    width:48%;
}

.third{
    width: 32%;
}

  


